<div class="container mt-5 mb-5" style="background-color: #ccfbff;">
  <form action="/links/intoattendance" method="post">
    <h1 class="mb-3">Ingresar asistencia</h1>
    <div class="mb-3">
      <label for="code" class="form-label">fecha</label>
      <input type="text" class="form-control" id="code" name="date_attendance" placeholder="AAAA-MM-DD"autofocus   required>
    </div>
    <div class="mb-3">
      <label for="first_name" class="form-label">statu</label>
      <input type="text" class="form-control" id="first_name" name="statu_assistance"  placeholder="Nombre" autofocus required>
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">code</label>
      <input type="text" class="form-control" id="last_name" name="code"  placeholder="Apellido" autofocus required>
    </div>
     <div class="mb-3">
      <label for="last_name" class="form-label">Mes</label>
      <input type="text" class="form-control" id="last_name" name="months_assitances"  placeholder="Mes" autofocus required>
    </div>
    <div class="row justify-content-center"> 
        <button type="submit" class="btn btn-primary m-auto w-50 mb-3">Ingresar</button>
    </div>
  </form>
</div>
