
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <form action="/links/login" method="post">
                        <div class="form-group">
                           <input type="text" class="form-control" name="username" placeholder="username" autofocus>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                           <input type="password" class="form-control" name="passwords" placeholder="contraseña" autofocus>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

