<a href="signupsee" class="btn btn-primary btn-lg ">
  VER USUARIOS
</a>
<a href="secretary" class="btn btn-primary btn-lg ">
  Zona secretariado
</a>
<a href="teacher" class="btn btn-primary btn-lg ">
  Zona profesores
</a>
<a href="accountant" class="btn btn-primary btn-lg ">
  Zona contadora
</a>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h3>Crear usuario</h3>
                <div class="card-body">
                    <form action="signup" method="post">
                        <div class="form-group">
                           <input type="text" class="form-control" name="full_name" placeholder=" Ingresar nombre completo" autofocus required>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                           <input type="email" class="form-control" name="username" placeholder=" Ingresar username" autofocus required>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                           <input type="text" class="form-control" name="rol" placeholder=" Ingresar Rol" autofocus required>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                           <input type="password" class="form-control" name="passwords" placeholder="Ingresar contraseña" autofocus required>
                        </div>
                        <hr class="my-2">
                        <div class="form-group"> 
                            <button class="btn btn-primary btn-block">
                                Crear usuario
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

